<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="bg">
    <div class="jk">
      <main class='container-fluid' role='main'>
        <div class='content-wrap row'>
          {% include flash.html %}
          
          <div class='login-wrapper col-sm-12'>
            {% include identity.html %}
            <panel class='panel text-center'>
              {{ content }}
            </panel>
          </div>
          <br />
          {% include subfooter.html %}
        </div>
      </main>
    </div>
  </body>

</html>
